<h1>
    @AdminConfig.Instance.ProjectName

    Individual

    Contributor

    License
    Agreement
</h1>
<p>This is the Contributor License Agreement that a contributor will have to sign. You can have a look at <a href="http://selector.harmonyagreements.org/" target="_blank">Harmony</a> to check how to generate a CLA for your project.</p>

<p>Copy paste your CLA here.</p>